/StrongMonkey.userprefs
/StrongMonkey.Client.GtkGui/bin/Debug/CookComputing.XmlRpcV2.dll
/StrongMonkey.Client.GtkGui/bin/Debug/NLog.dll
/StrongMonkey.Client.GtkGui/bin/Debug/StrongMonkey.Client.GtkGui.dll
/StrongMonkey.Client.GtkGui/bin/Debug/StrongMonkey.Client.GtkGui.dll.mdb
/StrongMonkey.Client.GtkGui/bin/Debug/StrongMonkey.Core.dll
/StrongMonkey.Client.GtkGui/bin/Debug/StrongMonkey.Core.dll.config
/StrongMonkey.Client.GtkGui/bin/Debug/StrongMonkey.Core.dll.mdb
/StrongMonkey.Client.GtkGui/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttribute.cs
/StrongMonkey.Client.GtkGui/obj/x86/Debug/StrongMonkey.Client.GtkGui.StrongMonkey.Client.GtkGui.addin
/StrongMonkey.Client.GtkGui/obj/x86/Debug/StrongMonkey.Client.GtkGui.csproj.FilesWrittenAbsolute.txt
/StrongMonkey.Client.GtkGui/obj/x86/Debug/StrongMonkey.Client.GtkGui.dll
/StrongMonkey.Client.GtkGui/obj/x86/Debug/StrongMonkey.Client.GtkGui.dll.mdb
/StrongMonkey.Client.GtkGui/obj/x86/Debug/StrongMonkey.Client.GtkGui.gtk-gui.gui.stetic
/StrongMonkey.Core/bin/Debug/CookComputing.XmlRpcV2.dll
/StrongMonkey.Core/bin/Debug/NLog.dll
/StrongMonkey.Core/bin/Debug/StrongMonkey.Core.dll
/StrongMonkey.Core/bin/Debug/StrongMonkey.Core.dll.config
/StrongMonkey.Core/bin/Debug/StrongMonkey.Core.dll.mdb
/StrongMonkey.Core/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttribute.cs
/StrongMonkey.Core/obj/Debug/StrongMonkey.Core.StrongMonkey.Core.addin
/StrongMonkey.Core/obj/Debug/StrongMonkey.Core.csproj.FilesWrittenAbsolute.txt
/StrongMonkey.Core/obj/Debug/StrongMonkey.Core.dll
/StrongMonkey.Core/obj/Debug/StrongMonkey.Core.dll.mdb
/StrongMonkey.Drupal/bin/Debug/CookComputing.XmlRpcV2.dll
/StrongMonkey.Drupal/bin/Debug/NLog.dll
/StrongMonkey.Drupal/bin/Debug/StrongMonkey.Core.dll
/StrongMonkey.Drupal/bin/Debug/StrongMonkey.Core.dll.mdb
/StrongMonkey.Drupal/bin/Debug/StrongMonkey.Drupal.dll
/StrongMonkey.Drupal/bin/Debug/StrongMonkey.Drupal.dll.mdb
/StrongMonkey.Drupal/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttribute.cs
/StrongMonkey.Drupal/obj/Debug/StrongMonkey.Drupal.csproj.FilesWrittenAbsolute.txt
/StrongMonkey.Drupal/obj/Debug/StrongMonkey.Drupal.dll
/StrongMonkey.Drupal/obj/Debug/StrongMonkey.Drupal.dll.mdb
/StrongMonkey.Sample1/bin/Debug/CookComputing.XmlRpcV2.dll
/StrongMonkey.Sample1/bin/Debug/NLog.dll
/StrongMonkey.Sample1/bin/Debug/StrongMonkey.Core.dll
/StrongMonkey.Sample1/bin/Debug/StrongMonkey.Core.dll.config
/StrongMonkey.Sample1/bin/Debug/StrongMonkey.Core.dll.mdb
/StrongMonkey.Sample1/bin/Debug/StrongMonkey.Drupal.dll
/StrongMonkey.Sample1/bin/Debug/StrongMonkey.Drupal.dll.mdb
/StrongMonkey.Sample1/bin/Debug/StrongMonkey.Sample1.exe
/StrongMonkey.Sample1/bin/Debug/StrongMonkey.Sample1.exe.mdb
/StrongMonkey.Sample1/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttribute.cs
/StrongMonkey.Sample1/obj/x86/Debug/StrongMonkey.Sample1.csproj.FilesWrittenAbsolute.txt
/StrongMonkey.Sample1/obj/x86/Debug/StrongMonkey.Sample1.exe
/StrongMonkey.Sample1/obj/x86/Debug/StrongMonkey.Sample1.exe.mdb
/StrongMonkey.Sample1/obj/x86/Debug/StrongMonkey.Sample1.gtk-gui.gui.stetic
/StrongMonkey.Startup/bin/Debug/CookComputing.XmlRpcV2.dll
/StrongMonkey.Startup/bin/Debug/NLog.dll
/StrongMonkey.Startup/bin/Debug/StrongMonkey.Client.GtkGui.dll
/StrongMonkey.Startup/bin/Debug/StrongMonkey.Client.GtkGui.dll.mdb
/StrongMonkey.Startup/bin/Debug/StrongMonkey.Core.dll
/StrongMonkey.Startup/bin/Debug/StrongMonkey.Core.dll.mdb
/StrongMonkey.Startup/bin/Debug/StrongMonkey.Startup.exe
/StrongMonkey.Startup/bin/Debug/StrongMonkey.Startup.exe.mdb
/StrongMonkey.Startup/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttribute.cs
/StrongMonkey.Startup/obj/x86/Debug/StrongMonkey.Startup.csproj.FilesWrittenAbsolute.txt
/StrongMonkey.Startup/obj/x86/Debug/StrongMonkey.Startup.exe
/StrongMonkey.Startup/obj/x86/Debug/StrongMonkey.Startup.exe.mdb
