<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StrongMonkey.Core.ServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StrongMonkey.Core.ServiceSettings>
            <setting name="CleanURL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrupalURL" serializeAs="String">
                <value>http://www.riservatapersonale.com</value>
            </setting>
            <setting name="EndPoint" serializeAs="String">
                <value>xmlrpc</value>
            </setting>
            <setting name="UseSessionID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="DomainName" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePass" serializeAs="String">
                <value>False</value>
            </setting>
        </StrongMonkey.Core.ServiceSettings>
    </userSettings>
</configuration>